[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/kvolodina/class25
ExecStart=/home/kvolodina/class25/venv/bin/python run.py

[Install]
WantedBy=multi-user.target