[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/kvolodina/HW23
ExecStart=/home/kvolodina/HW23/venv/bin/python run.py

[Install]
WantedBy=multi-user.target
